h1{
    font-weight: 700;
    font-size: 45px;
    margin: 20px;
}

input{
    width: 100%;
}

.item-row{
    text-align: left;
}
.item-container{
    margin: 10px 3px;
}

.my-btn{
    min-width: 80px;
}