body {
  background-color: #121214;
  padding: 20px 20px;
  font-family: 'circular';
}

#root {
  padding:30px 290px;
}

/* mid container css start*/

.mid-container {
  display: flex;
  gap: 30px;
  color: white;
}



/* mid container css end */
