.menu-container {
    flex: 1;
    background-color: #18181c;
    border-radius: 20px;
}
.left-inner-container{
    display: flex;
    flex-direction: column;
    padding: 25px;
}
.filter-item{
    margin: 10px;
    padding: 0px 8px;
}

.filter-item > span {
    margin-left: 10px;
}

.filter-item > svg {
    margin-top: 2px;
}

.selected.filter-item{
    background-color: rgb(47, 45, 54);
    color:#84849d;
    padding: 8px;
    border-radius: 12px;
}